In [5]:
import pandas as pd


bank_df_1 = pd.DataFrame({
    'ClientID': [1, 2, 3, 4, 5],
    'FirstName': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'LastName': ['Smith', 'Jones', 'Brown', 'Taylor', 'Clark']
})


bank_df_2 = pd.DataFrame({
    'ClientID': [6, 7, 8, 9, 10],
    'FirstName': ['Frank', 'Grace', 'Hannah', 'Ian', 'Julia'],
    'LastName': ['Miller', 'Wilson', 'Moore', 'Lee', 'Hall']
})


salary_df = pd.DataFrame({
    'ClientID': range(1, 11),
    'AnnualSalary': [50000, 60000, 45000, 70000, 52000, 48000, 61000, 59000, 54000, 62000]
})


bank_all = pd.concat([bank_df_1, bank_df_2], ignore_index=True)

bank_all = pd.merge(bank_all, salary_df, on='ClientID')


my_data = pd.DataFrame([{
    'ClientID': 11,
    'FirstName': 'Hitaishi',
    'LastName': 'Reddy',
    'AnnualSalary': 65000
}])

bank_all = pd.concat([bank_all, my_data], ignore_index=True)

print(bank_all)

    ClientID FirstName LastName  AnnualSalary
0          1     Alice    Smith         50000
1          2       Bob    Jones         60000
2          3   Charlie    Brown         45000
3          4     David   Taylor         70000
4          5       Eva    Clark         52000
5          6     Frank   Miller         48000
6          7     Grace   Wilson         61000
7          8    Hannah    Moore         59000
8          9       Ian      Lee         54000
9         10     Julia     Hall         62000
10        11  Hitaishi    Reddy         65000